<extend name="Public:noFoot" />
<block name='main'>
    <div class="helpIt">
        <header class="header">
            <p>
                <i class="iconfont icon-fanhui"></i>
                <span>帮助TA</span>
            </p>
        </header>
            <main class="main">
        <form action="" method="post" onsubmit="return checkLength()" >
                <div class="top">
                    <ul>
                        <li><span class="tex">帮助金额</span><input type="number" name="price" placeholder="输入帮助金额"></li>
                    </ul>
  <!--                   <div class="area">
<span style="color: #2ab2f6">选择帮助地区</span>
<p>
<input type="text" class="select-value1 form-control" value="广东省-东莞市">
<i class="iconfont icon-xiangxiajiantouxiao" style="opacity: 0.5;margin-left:0.1rem;font-size:0.3rem;"></i>
</p >
</div>
<ul>
<li><span class="tex">详细地址</span><input type="text" name="detail_address" placeholder="输入详细地址"></li>
</ul>
 -->                <input type="hidden"  value="440000" name="province"  id="province">
                <input type="hidden"  value="441900"  name="city" id="city">
                <input type="hidden"    name="type" value="2">
                <input type="hidden"    name="item_id" value="<{$_GET['id']}>">
                    <p class="tex">对TA说一句鼓励的话吧</p>
                    <textarea name="content" id="" rows="5"  placeholder="我想对你说……"></textarea>
                    <!-- <p class="check">
                        <label for="">
                            <input type="checkbox" name="is_anonymous" value="1">匿名帮助
                        </label>
                    </p> -->
                    <input type="hidden" name="item_id" value="<{$_GET.id}>">
                </div>
                <div class="bottom">
                    <span>0.00元</span>
                    <p>帮助金额会以电子发票的形式发送到帮助人的邮箱</p>
                </div>
            </main>
            <!--底部导航-->
            <footer class="footer">
               <p><input type="button" class="submit"  value="确认付款"></p>
            </footer>
            
        </form>
    </div>
    </body>
</block>
<script src="scripts/rem.js"></script>
<script src="scripts/jquery.min.js"></script>
</html>
<block name='js'>
   function checkLength(){

 //判断表单数据是否为空
  var t = $('form').serializeArray();
    $.each(t,function(i,item){
        if(item['value'] == '') {
            console.log('信息不可为空') 
            showMsg('信息不可为空')
            flag = 1;
            return false
        } else {
        flag = 0;
    }
    })

  if(flag == 0){
      var ptrr = /^[1-9]+\d*$/
    var string = $('input[name=price]').val();
     var data =  ptrr.test(string)
    if(!data){
        showMsg('请输入合法的金额')
        return false
    }

    showMsg('添加成功')
    sleep(100);
    return true;
}else{
    return false
}
}

//提交表单 调起支付
//=====================
var flag = 0;
    $('.submit').click(function(){
    //判断表单数据是否为空
      var t = $('form').serializeArray();
        $.each(t,function(i,item){
            if(item['name'] != 'id'){

                if(item['value'] == '') {
                    console.log(item['name']+'信息不可为空') 
                    showMsg('信息不可为空')
                    flag = 1;
                    return false
                    } else {
                    flag = 0;
                }
            }
        })
         if(flag == 0){
           var ptrr = /^[1-9]+\d*$/
            var string = $('input[name=price]').val();
             var data =  ptrr.test(string)
            if(!data){
                showMsg('请输入合法的金额')
                return false
            }
            var total_price = $('input[name=price]').val()
            var content = $('textarea[name=content]').val()
            $.ajax({
                type:'POST',
                url :"<{:U('Order/create_order')}>",
                data:{'total_price':total_price,'type':2,content:content,'item_id':<{$_GET.id}>},
                success:function(msg){
                    if(msg){
                    window.location.href="/Order/request_pay/order_id/"+msg
                }
              

            }
        })
    }
        })





























 $('.select-value1').mPicker({
        //级别
        level:2,
        //需要渲染的json，二级联动的需要嵌套子元素，有一定的json格式要求
        dataJson:dataJson,
        //true:联动
        Linkage:true,
        //显示行数
        rows:6,
        //默认值填充
        idDefault:true,
        //分割符号
        splitStr:'-',
        //头部代码
        // header:'<\div class="mPicker-header">两级联动选择插件<\/div>',
        confirm:function(){
            //更新json
            this.container.data('mPicker').updateData(level3);
            //console.info($('.select-value').data('value1')+'-'+$('.select-value').data('value2'));
        },
        cancel:function(){
            //console.info($('.select-value').data('value1')+'-'+$('.select-value').data('value2'));
        }
    })
    $('.select-value1').mPicker({
        level: 2,
        dataJson: dataJson,
        Linkage: true,
        rows: 6,
        idDefault: true,
        splitStr: '-',
        // header: '<div class="mPicker-header">两级联动选择插件</div>',
        confirm: function (json) {
            console.info('当前选中json：', json);
            addressArray = json.values.split('-');
    $('#province').val(addressArray['0'])
    $('#city').val(addressArray['1'])
            console.log(json.values.split('-'))
            var _this= this;
            //console.info('【json里有带value的情况】');
            //更新json
              // console.info('3s后更新json...');
   //          setTimeout(function(){
   //              _this.container.data('mPicker').updateData.call(_this,level3);
   //              var json = getVal();
   //              var valArr = json.value;
   //              console.info('更新成功!!');
   //              console.info('更新后的value为空', valArr[0], valArr[1]);
   //              console.info('更新后的value拼接值为空', json.result);
   //          },3000);


        },
        cancel: function (json) {
        }
    })
    //获取value
    function getVal(){
        var value1 = $('.select-value1').data('value1');
        var value2 = $('.select-value1').data('value2');
        var result='';
        value1 = value1 || '';
        value2 = value2 || '';
        if(value1){
            result= value1;
        }
        if(value2){
            result = result+'-'+ value2;
        }
        return {
            value:[value1, value2],
            result: result
        };
    }

</block>