<extend name="Public:noFoot" />
<block name='main'>
    <div class="helpIt">
        <header class="header">
            <p>
                <i class="iconfont icon-fanhui"></i>
                <span>帮助TA</span>
            </p>
        </header>
        <form id="form" action="" method="post"   onsubmit="return checkLength()">
        <main class="main">
            <div class="top">
                <ul>
                    <li><span class="tex">帮助金额</span><input type="number" name="price" placeholder="输入帮助金额"></li>
                </ul>
                <p class="tex">对TA说一句鼓励的话吧</p>
                <textarea name="content" id="" rows="5"  placeholder="我想对你说……"></textarea>
                <p class="check">
                    <label for="">
                        <input type="checkbox" name="is_anonymous" value="1">匿名帮助
                    </label>
                </p>
                <input type="hidden" name="item_id" value="<{$_GET.id}>">
            </div>
            <div class="bottom">
                <span>0.00元</span>
                <p>帮助金额会以电子发票的形式发送到帮助人的邮箱</p>
            </div>
        </main>
        <!--底部导航-->
        <footer class="footer">
             <p><input type="button" class="submit"  value="确认付款"></p>
        </footer>
        </form>
    </div>
</body>
</block>
<script src="scripts/rem.js"></script>
<script src="scripts/jquery.min.js"></script>
</html>
<block name='js'>

        var flag = 0;
   function checkLength(){

 //判断表单数据是否为空
  var t = $('form').serializeArray();
    $.each(t,function(i,item){
        if(item['value'] == '') {
            console.log('信息不可为空') 
            showMsg('信息不可为空')
            flag = 1;
            return false
        } else {
        flag = 0;
    }
    })

  if(flag == 0){
      var ptrr = /^[1-9]+\d*$/
    var string = $('input[name=price]').val();
     var data =  ptrr.test(string)
    if(!data){
        showMsg('请输入合法的金额')
        return false
    }

            showMsg('添加成功')
            sleep(100);
    return true;
}else{
    return false
}
}




//提交表单 调起支付
//=====================
var flag = 0;
    $('.submit').click(function(){
    //判断表单数据是否为空
      var t = $('form').serializeArray();
        $.each(t,function(i,item){
            if(item['name'] != 'id'){

                if(item['value'] == '') {
                    console.log(item['name']+'信息不可为空') 
                    showMsg('信息不可为空')
                    flag = 1;
                    return false
                    } else {
                    flag = 0;
                }
            }
        })
         if(flag == 0){
           var ptrr = /^[1-9]+\d*$/
            var string = $('input[name=price]').val();
             var data =  ptrr.test(string)
            if(!data){
                showMsg('请输入合法的金额')
                return false
            }
            var total_price = $('input[name=price]').val()
            var content = $('textarea[name=content]').val()
            var is_anonymous = $('input[name=is_anonymous]:checked').val()
            $.ajax({
                type:'POST',
                url :"<{:U('Order/create_order')}>",
                data:{'total_price':total_price,'type':3,content:content,is_anonymous:is_anonymous,'item_id':<{$_GET.id}>},
                success:function(msg){
                    if(msg){
                    window.location.href="/Order/request_pay/order_id/"+msg
                }
              

            }
        })
    }
        })

</block>