<extend name="Public:base" />
<block name='main'>
    <div class="personalCenter">
        <header class="header">
            <span>个人中心</span>
        </header>
        <main class="main">
            <div class="unifo">
                <div class="cover"></div>
                <div class="mark">
                    <div class="new">
                        <div class="left">
                            <img style="border-radius:50%" src="<{$userInfo.photo}>" alt="">
                        </div>
                        <div class="right">
                            <p>
                                <span>昵称：<{$userInfo.username}></span>
                                <span><{$userInfo.phone}>（ID：<{$userInfo.cu_id}>）</span>
                                <span class="tet">签名：<{$userInfo.sign}></span>
                                <!-- <span>邮箱：<{$userInfo.email}></span> -->
                            </p>
                            <a href="set.html"><i class="iconfont icon-xiangyoujiantou"></i></a>
                        </div>
                    </div>
                    <ul class="data">
                        <li>
                            <span><{$userInfo.love_value|default='0'}></span>
                            <span>爱心值</span>
                        </li>
                      <a href="<{:U('follow')}>">  <li>
                            <span><{:get_follow_member($userInfo['id'])}></span>
                         <span>关注的</span>
                        </li></a>
                      <a href="/Center/faqi/id/3.html">  <li>
                            <i class="iconfont icon-service"></i>
                            <span>筹款中</span>
                        </li> </a>
                    </ul>
                </div>
            </div>
            <ul class="item">
                <a href="myLove.html">
                    <li>
                        <p>
                            <i class="iconfont icon-xin ico-left"></i>我的爱心喇叭
                        </p>
                        <p>
                            <{:get_announce_count()}>
                            <i class="iconfont icon-xiangyoujiantou ico-right"></i>
                        </p>
                    </li>
                </a>
                <a href="helped.html">
                    <li>
                        <p>
                            <i class="iconfont icon-8 ico-left"></i>我帮助的
                        </p>
                        <p>
                            <{:get_donor_cont()}>
                            <i class="iconfont icon-xiangyoujiantou ico-right"></i>
                        </p>
                    </li>
                </a>
                <a href="<{:U('faqi',array('id'=>1))}>">
                    <li>
                        <p>
                            <i class="iconfont icon-faqi ico-left"></i>我发起的
                        </p>
                        <p>
                            <{:get_launch_cnt()}>
                            <i class="iconfont icon-xiangyoujiantou ico-right"></i>
                        </p>
                    </li>
                </a>
                <a href="use_money.html">
                    <li>
                        <p>
                            <i class="iconfont icon-shiyongshouce ico-left"></i>我要使用
                        </p>
                        <p>
                            <i class="iconfont icon-xiangyoujiantou ico-right"></i>
                        </p>
                    </li>
                </a>
                <a href="warrant.html">
                    <li>
                        <p>
                            <i class="iconfont icon-zhangqidanbao ico-left"></i>我的担保人
                        </p>
                        <p>                        
                            <i class="iconfont icon-xiangyoujiantou ico-right"></i>
                        </p>
                    </li>
                </a>
                <a href="wallet.html">
                    <li>
                        <p>
                            <i class="iconfont icon-qianbao ico-left"></i>我的钱包
                        </p>
                        <p>
                            0.00
                            <i class="iconfont icon-xiangyoujiantou ico-right"></i>
                        </p>
                    </li>
                </a>
                <a href="<{:U('mutual/index')}>">
                    <li>
                        <p>
                            <i class="iconfont icon-xiangmu ico-left"></i>轻松互助
                        </p>
                        <p>
                            <i class="iconfont icon-xiangyoujiantou ico-right"></i>
                        </p>
                    </li>
                </a>
                <a href="introduce.html">
                    <li>
                        <p>
                            <i class="iconfont icon-bangzhu ico-left"></i>帮助中心
                        </p>
                        <p>
                            平台介绍
                            <i class="iconfont icon-xiangyoujiantou ico-right"></i>
                        </p>
                    </li>
                </a>
            </ul>
        </main>
       </block>