<extend name="Public:noFoot" />
<block name='main'>
    <div class="introduce">
        <header class="header">
            <p>
                <i class="iconfont icon-fanhui"></i>
                <span>平台介绍</span>
            </p>
        </header>
        <main class="main">
            <p class="text"><{$result.value}></p>
        </main>
        <!--底部导航-->
        <footer class="footer"></footer>
    </div>
</body>
<script src="scripts/rem.js"></script>
<script src="scripts/jquery.min.js"></script>
</html>
</block>
<block name="js">
    

</block>