<extend name="Public:noFoot" />
<block name='main'>
    <div class="wallet">
        <header class="header">
            <p>
                <i class="iconfont icon-fanhui"></i>
                <span>我的钱包</span>
            </p>
        </header>
        <main class="main">
            <div class="top">
                <p class="balance">账户余额（0元）</p>
                <p class="money">0.00</p>
            </div>
            <div class="cars">
                <p><i class="iconfont icon-msnui-card"></i>银行卡</p>
                <i class="iconfont icon-xiangyoujiantou"></i>
            </div>
        </main>
        <!--底部导航-->
        <footer class="footer"></footer>
    </div>
</body>
<script src="scripts/rem.js"></script>
<script src="scripts/jquery.min.js"></script>
</html>
</block>
<block name="js">
    

</block>