<extend name="Public:noFoot" />
<block name='main'>
    <div class="warrant">
        <header class="header">
            <p>
                <i class="iconfont icon-fanhui"></i>
                <span>我的担保人</span>
            </p>
        </header>
        <main class="main">
            <div class="banner">
                <div class="cover">
                    <div class="img">
                        <img src="__HOME__/img/ww.png" alt="">
                    </div>
                </div>
            </div>
            <ul>
                <li>姓名：xx</li>
                <!-- <li>年龄：30</li> -->
                <li>家庭住址：北京市朝阳区</li>
                <li>担保日期：2018年1月22日</li>
            </ul>
            <p class="tit">担保人信息如有虚假，需要把募捐的款项全部退回</p>
        </main>
        <!--底部导航-->
        <footer class="footer"></footer>
    </div>
</body>
</block>
<script src="scripts/rem.js"></script>
<script src="scripts/jquery.min.js"></script>
</html>
<block name="js">
    

</block>