<extend name="Public:noFoot" />
<block name='main'>
    <div class="news">
        <header class="header">
            <p>
                <i class="iconfont icon-fanhui"></i>
                <span>范冰冰身体力行做公益</span>
            </p>
        </header>
        <main class="main">
            <div>
                <div class="img">
                    <img src="__HOME__/img/11.png" alt="">
                </div>
                <p class="num"><span>阅读：789654</span></p>
            </div>
            <div class="container">
                <p>网易河北娱乐频道 由范冰冰及其工作室和背景迈特文化娱乐传媒CEO陈砺志共同发起的</p>
                <p>网易河北娱乐频道 由范冰冰及其工作室和背景迈特文化娱乐传媒CEO陈砺志共同发起的网易河北娱乐频道 由范冰冰及其工作室和背景迈特文化娱乐传媒CEO陈砺志共同发起的网易河北娱乐频道 由范冰冰及其工作室和背景迈特文化娱乐传媒CEO陈砺志共同发起的网易河北娱乐频道 由范冰冰及其工作室和背景迈特文化娱乐传媒CEO陈砺志共同发起的网易河北娱乐频道 由范冰冰及其工作室和背景迈特文化娱乐传媒CEO陈砺志共同发起的网易河北娱乐频道 由范冰冰及其工作室和背景迈特文化娱乐传媒CEO陈砺志共同发起的网易河北娱乐频道 由范冰冰及其工作室和背景迈特文化娱乐传媒CEO陈砺志共同发起的</p>
            </div>
        </main>
        <footer class="footer"></footer>
</body>
</html>
</block>

<script src="scripts/jquery.min.js"></script>
<block name="js">

</block>