<extend name="Public:base" />
<block name="content">
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><notempty name="news.id">修改<else/>添加</notempty>展馆</h3>
			</div>
		
		<style type="text/css">
			
.imgBox {
  padding: 0.1rem 0.25rem;
  margin-bottom: 0.4rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.imgBox img {
 width: 110px;


}
.imgBox .icon-delete2 {
  color: red;
  font-size: 0.24rem;
  position: absolute;
  top: 0rem;
  right: 0.05rem;
}



.img, .up {
  height: 1.6rem;
  margin-bottom: 0.2rem;
}

.up {
  background: none;
  border-radius: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.up span {
  border: 1px solid #ccc;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

		</style>	
		<div class="panel-body">
				<form id="mainForm" role="form" class="form-horizontal" method="post" action="">
	
					<div class="form-group">
						<label class="col-sm-2 control-label" for="field-1">标题</label>	
						<div class="col-sm-6">
							<input type="text" class="form-control" name="name" id="name" value="<{$data.name|default=''}>" placeholder="">
							<p class="help-block"> </p>
						</div>
					</div>
					<input type="hidden" name="id" value="<{$_GET['id']}>">

					<div class="form-group-separator"></div>
					<div class="form-group text-center">
						<button type="submit"  class="btn submit btn-info btn-single pull-center ajax-post"  target-form="form-horizontal"><notempty name="data.id">修改<else/>添加</notempty></button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
</block>
<block name="script">
<link rel="stylesheet" href="__PUBLIC__/js/uploadify/uploadify.css">
<script src="__PUBLIC__/js/uploadify/jquery.uploadify.min.js"></script>
<script src="__PUBLIC__/admin/js/daterangepicker/daterangepicker.js"></script>
<script src="__PUBLIC__/admin/js/datepicker/bootstrap-datepicker.js"></script>
<script type="text/javascript">
 
</script>
</block>