<extend name="Public:noFoot" />
<block name='main'>
    <div class="helpIt">
        <header class="header">
            <p>
                <i class="iconfont icon-fanhui"></i>
                <span>加入会员</span>
            </p>
        </header>
        <form action="" method="post" >
        <main class="main">
            <div class="top">
                <ul>
                    <li><span class="tex">需支付金额</span><input type="number" value="<{$totalPrice}>" readonly="" name="price" placeholder=""></li>
                </ul>
                <!-- <p class="tex">对TA说一句鼓励的话吧</p>
                <textarea name="content" id="" rows="5"  placeholder="我想对你说……"></textarea>
                <p class="check">
                    <label for="">
                        <input type="checkbox" name="is_anonymous" value="1">匿名帮助
                    </label>
                </p> -->
                <input type="hidden" name="item_id" value="<{$_GET.id}>">
                <input type="hidden" name="idArr" value="<{$_GET.idArr}>">
            </div>
            <div class="bottom">
                <span><{$totalPrice}>.00元</span>
                <!-- <p>帮助金额会以电子发票的形式发送到帮助人的邮箱</p> -->
            </div>
        </main>
        <!--底部导航-->
        <footer class="footer">
            <p><input type="button" class="submit"  value="确认付款"></p>
        </footer>
        </form>
    </div>
</body>
</block>
<script src="scripts/rem.js"></script>
<script src="scripts/jquery.min.js"></script>
</html>
<block name='js'>


        var flag = 0;
   function checkLength(){

 //判断表单数据是否为空
  var t = $('form').serializeArray();
    $.each(t,function(i,item){
        if(item['value'] == '') {
            console.log('信息不可为空') 
            showMsg('信息不可为空')
            flag = 1;
            return false
        } else {
        flag = 0;
    }
    })

      if(flag == 0){
        var ptrr = /^[1-9]+\d*$/
        var string = $('input[name=price]').val();
         var data =  ptrr.test(string)
        if(!data){
            showMsg('请输入合法的金额')
            return false
        }
        showMsg('添加成功')
        return true;
    
        //------支付接口结束
    }else{
        return false
}
}

//=====================
var flag = 0;
    $('.submit').click(function(){
    //判断表单数据是否为空
      var t = $('form').serializeArray();
        $.each(t,function(i,item){
            if(item['name'] != 'id'){

                if(item['value'] == '') {
                    console.log(item['name']+'信息不可为空') 
                    showMsg('信息不可为空')
                    flag = 1;
                    return false
                    } else {
                    flag = 0;
                }
            }
        })
         if(flag == 0){
           var ptrr = /^[1-9]+\d*$/
            var string = $('input[name=price]').val();
            var idArr = $('input[name=idArr]').val();
            var content = $('textarea[name=content]').val()
             var data =  ptrr.test(string)
            if(!data){
                showMsg('请输入合法的金额')
                return false
            }
            var total_price = $('input[name=price]').val()
            var is_anonymous = $('input[name=is_anonymous]:checked').val()
            $.ajax({
                type:'POST',
                url :"<{:U('Order/create_order')}>",
                data:{'total_price':total_price,'type':5,id_arr:idArr,'item_id':<{$_GET.id}>},
                success:function(msg){
                    if(msg){
                    window.location.href="/Order/request_pay/order_id/"+msg
                }
              

            }
        })
    }
        })


        //未用

                function request_pay(order_id){
                    $.ajax({
                            type:'POST',
                            url :"<{:U('Order/request_pay')}>",
                            data:{'order_id':order_id },
                            success:function(msg){

                                if(msg){
                               // order_id = msg;
                            }
                          

                        }
                    })
                }

</block>

        <script type="text/javascript">
                
        </script>