<extend name="Public:noFoot" />
<block name='main'>
    <div class="help">
        <header class="header">
            <p>
                <i class="iconfont icon-fanhui"></i>
                <span>轻松互助</span>
                <i class="iconfont icon-fenxiang"></i>
            </p>
        </header>
        <main class="main">
            <div class="topJoin">
                <ul class="top">
                    <li>
                        <span class="big">轻</span>松互助，融<span class="big">爱</span>万家
                    </li>
                    <li><a href="joinList.html"><span class="btn">点击加入</span></a></li>
                </ul>
                <p>上千万会员，互帮互助，共担风险</p>
                <p>已累计帮助<b><{$member_count}></b>个有需要的会员</p>
                <p style="border-top:1px solid #ccc;margin-top:0.2rem;">已累积划拨互助款<b><{$total_price}></b>元</p>   
            </div>
            <div class="bottomJoin">
                <div class="bottom">
                    <span class="btn">立即邀请好友加入</span>
                </div>
                <p class="tex">
                    邀请好友加入，自己可获得爱心值等，邀请好友加入，自己可获得爱心值等，邀请好友加入，自己可获得爱心值等，邀请好友加入，自己可获得爱心值等
                </p>
            </div>
        </main>
        <footer class="footer">
            <ul>
                <a href="index.html">
                    <li class="on">
                        <i class="iconfont icon-jiaruqun"></i>
                        <span>加入计划</span>
                    </li>
                </a>
                <a href="bulletin.html">
                    <li>
                        <i class="iconfont icon-bulletin"></i>
                        <span>互助公示</span>
                    </li>
                </a>
                <a href="personal_center.html">
                    <li>
                        <i class="iconfont icon-geren"></i>
                        <span>个人中心</span>
                    </li>
                </a>
            </ul>
        </footer>
    </div>
</body>
</html>
</block>
<block name='js'>

    $('.icon-fanhui').click(function(){window.location.href='/index/index.html'})
</block>