<extend name="Public:base" />
<block name="content">
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><notempty name="result.id">修改<else/>添加</notempty>-<{$header}></h3>
			</div>
		
		<style type="text/css">
			
.imgBox {
  padding: 0.1rem 0.25rem;
  margin-bottom: 0.4rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.imgBox img {
 width: 110px;


}
.imgBox .icon-delete2 {
  color: red;
  font-size: 0.24rem;
  position: absolute;
  top: 0rem;
  right: 0.05rem;
}



.img, .up {
  height: 1.6rem;
  margin-bottom: 0.2rem;
}

.up {
  background: none;
  border-radius: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.up span {
  border: 1px solid #ccc;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

		</style>	
		<div class="panel-body">
				<form id="mainForm" role="form" class="form-horizontal" method="post" action="">
					<div class="form-group">
						<label class="col-sm-2 control-label" for="field-1">机构名称</label>	
						<div class="col-sm-6">
							<input type="text" class="form-control" name="ins_name" id="ins_name" value="<{$result.ins_name|default=''}>" placeholder="">
							<p class="help-block"></p>
						</div>
					</div>
					<div class="form-group-separator"></div>

							<div class="form-group-separator"></div>
								<div style="height: 120px" class="form-group">
									<label class="col-sm-2 control-label" for="field-1">机构logo</label>	
									<div class="col-sm-6">
						 <ul class="imgBox ins_logo" id="1">
			                        <volist name="ins_img" id="v">
				                    <li class="img">
				                        <img src="<{$v.url}>" onclick="remove(this)" alt="">
				                    </li>
				                    </volist>
			                <li class="up">
			                    <span><i class="iconfont icon-plus-bold"></i></span>
			                        <input  type="file" name="img" class="file">
			                </li>
			            </ul>

						</div> <span style="color: red">请选择一张图片！传递多张会报错（点击图片可移除）</span>
					</div>
					<div class="form-group-separator"></div>
<div class="form-group">
						<label class="col-sm-2 control-label" for="field-1">目标金额</label>	
						<div class="col-sm-6">
							<input type="text" class="form-control" name="target_money" id="target_money" value="<{$result.target_money|default=''}>" placeholder="">
							<p class="help-block"></p>
						</div>
					</div>

					<div class="form-group-separator"></div>
						<div class="form-group">
						<label class="col-sm-2 control-label" for="field-1">标题</label>	
						<div class="col-sm-6">
							<input type="text" class="form-control" name="title" id="title" value="<{$result.title|default=''}>" placeholder="">
							<p class="help-block"> </p>
						</div>
					</div>
					
					<div class="form-group-separator"></div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="field-5">描述信息</label>
							<div class="col-sm-6">
								<textarea class="form-control" cols="5" id="summary" name="summary"><{$result.summary|default=''}></textarea>
							</div>
						</div>
				
					<div class="form-group-separator"></div> 
					<div style="height: 80px" class="form-group"> <a style="color: red" href="<{:U('jiuzhu/img_detail',array('img_id'=>$result['id'],'type'=>3))}>">查看原图（请保存后再查看）</a>
						<label class="col-sm-2 control-label" for="field-1">证明图片</label>	
						<div class="col-sm-6">
							 <ul class="imgBox orgImg" id="1">
				                       <volist name="imgArray" id="v">
				                    <li class="img">
				                        <img src="<{$v.url}>" onclick="remove(this)" alt="">
				                    </li>
				                    </volist>
				                <li class="up">
				                    <span><i class="iconfont icon-plus-bold"></i></span>
				                        <input  type="file" name="img" class="file">
				                </li>
				            </ul>

						</div>
					</div>
			
					
					<div class="form-group-separator"></div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="field-5">是否置顶</label>
							<div class="col-sm-6">
							<label class="radio-inline">
								<input type="radio" name="is_top" id="is_top" value="1"  <eq name="result.is_top" value="1">checked</eq> /> 置顶
							</label>
							<label class="radio-inline">
								<input type="radio" name="is_top" id="is_top" value="0" <eq name="result.is_top" value="0">checked</eq>/> 不置顶
							</label>
						</div>
					</div>
				
				<div class="form-group-separator"></div> 
					<div class="form-group">
						<label class="col-sm-2 control-label" for="field-5">状态</label>
							<div class="col-sm-6">
						
			
				  	<label class="radio-inline"><input type="radio" checkedname="organization" name="status" 	<if condition = "$result['status'] eq 2"> 	checked </if> value="2">隐藏</label>

				  	<label class="radio-inline"><input type="radio" checkedname="organization" name="status" 	<if condition = "$result['status'] eq 3"> 	checked </if> value="3">筹款中(审核成功)</label>
				  	<label class="radio-inline"><input type="radio" checkedname="organization" name="status"	<if condition = "$result['status'] eq 4"> 	checked </if> value="4">已结束</label>
						</div>
					</div>
					
					<input type="hidden" id="id" name="id" value="<{$_GET.id}>">


					<div class="form-group-separator"></div>
					<div class="form-group text-center">
						<button type="button"  class="btn submit btn-info btn-single pull-center ajax-post"  target-form="form-horizontal"><notempty name="result.id">修改<else/>添加</notempty></button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
</block>
<block name="script">
<link rel="stylesheet" href="__PUBLIC__/js/uploadify/uploadify.css">
<script src="__PUBLIC__/js/uploadify/jquery.uploadify.min.js"></script>
<script src="__PUBLIC__/admin/js/daterangepicker/daterangepicker.js"></script>
<script src="__PUBLIC__/admin/js/datepicker/bootstrap-datepicker.js"></script>
<script type="text/javascript">
 //=======================================================
    var imgarr = [];
    $('.file').on('change',function(e){
       var inp = $(this);
       var up = $(e.currentTarget).parents('li');
        $("#mainForm").ajaxSubmit({
        url : "<{:U('index/ajaxUpload')}>", // 请求的url  
        type : "post", // 请求方式  
        dataType : "json", // 响应的数据类型  
        async :true, // 异步  
        success: function (data1) { 
            // alert(data1);
            // $('.uploadImg').empty();
           var ele = "\
            <li class='img'>\
                <img  onclick='remove(this)' src='"+data1+"'>\
            </li>";
            //$('.imgBox').before(ele);
            up.before(ele)
            $('#mainForm').find('input[name=image]').val(data1);
            imgarr.push(data1);
        },  
        error : function(){  
            alert("数据加载失败！"); 
        }  
         });     


    });
     
        $('#mainForm').submit(function(){
        
        $('.file').remove();
    });


       function remove(obj){
        var pid = $(obj).parents('.imgBox').attr('id');
        $(obj).parents('li').remove();
        console.log($('.imgBox[id='+pid+']').find('.img').length )
        if($('.imgBox[id='+pid+']').find('.img').length < 5){
            $('.imgBox[id='+pid+']').find('.up').show();
        }
    }


      $('.submit').click(function(){
        var len = $('.ins_logo li').length
        var len_org = $('.orgImg li').length
            var count = 0;
	            var ins_logo= [];
	            for(var i = 0; i<len-1;i++){
	    			ins_logo.push($('.ins_logo li:eq('+i+') img').attr('src'))
	                   // array +=  $('.imgBox li:eq('+i+') img').attr('src')+',';
	            }

	            var orgArray= [];
	            for(var i = 0; i<len_org-1;i++){
	    			orgArray.push($('.orgImg li:eq('+i+') img').attr('src'))
	                   // array +=  $('.imgBox li:eq('+i+') img').attr('src')+',';
	            }
	            var formArr = [];
	            var fromData = $("form").serialize()

	            $.ajax({
	                type:'POST',
	                url :"<{:U('Relaxed/add')}>",
	                data:$.param({ins_logo:ins_logo,orgArray:orgArray})+'&'+$('form').serialize(),
	                success:function(msg){
	                	console.log(msg)
	                if(msg == 1){
	                       toastr.success('操作成功')
	                         setTimeout(function(){window.location.href="<{:U('Relaxed/index')}>"},2000);
	                       
	                }else{
	                	 toastr.error('操作失败')
	                }

	            }
	        })
	    })
</script>
</block>