<extend name="Public:base" />
<block name="content">
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><notempty name="result.id">修改<else/>添加</notempty>-<{$header}></h3>
			</div>
		
		<style type="text/css"> .imgBox {padding: 0.1rem 0.25rem; margin-bottom: 0.4rem; display: flex; align-items: center; flex-wrap: wrap; } .imgBox img {width: 70px; } .imgBox .icon-delete2 {color: red; font-size: 0.24rem; position: absolute; top: 0rem; right: 0.05rem; } .img, .up {height: 1.6rem; margin-bottom: 0.2rem; } .up {background: none; border-radius: 0.1rem; display: flex; justify-content: center; align-items: center; } .up span {border: 1px solid #ccc; width: 100%; height: 100%; background: #fff; border-radius: 0.1rem; display: flex; justify-content: center; align-items: center; }
		</style>	
		<div class="panel-body">
				<form id="mainForm" role="form" class="form-horizontal" method="post" action="">
					
					<div class="form-group">
						<label class="col-sm-2 control-label" for="field-1">标题</label>	
						<div class="col-sm-6">
							<input type="text" class="form-control" name="title" id="title" value="<{$result.title|default=''}>" placeholder="">
							<p class="help-block"> </p>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label" for="field-1">列表简短介绍</label>	
						<div class="col-sm-6">
							<input type="text" class="form-control" name="list_tagone" id="list_tagone" value="<{$result.list_tagone|default=''}>" placeholder="">
							<p class="help-block"> </p>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label" for="field-1">列表年龄段介绍</label>	
						<div class="col-sm-6">
							<input type="text" class="form-control" name="list_tagtwo" id="list_tagtwo" value="<{$result.list_tagtwo|default=''}>" placeholder="">
							<p class="help-block"> </p>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label" for="field-1">单人价格</label>	
						<div class="col-sm-6">
							<input type="text" class="form-control" name="price" id="price" value="<{$result.price|default=''}>" placeholder="">
							<p class="help-block"> </p>
						</div>
					</div>
					
					<div class="form-group-separator"></div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="field-5">申请条件</label>
							<div class="col-sm-6">
								<textarea class="form-control" cols="5" id="apply_condition" name="apply_condition"><{$result.apply_condition|default=''}></textarea>
							</div>
						</div>


					<div class="form-group-separator"></div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="field-5">介绍</label>
							<div class="col-sm-6">
								<textarea class="form-control" cols="5" id="detail" name="detail"><{$result.detail|default=''}></textarea>
							</div>
						</div>

					<div class="form-group-separator"></div>
					<div style="height: 80px" class="form-group"><a style="color: red" href="<{:U('jiuzhu/img_detail',array('img_id'=>$result['id'],'type'=>2))}>">查看原图</a>
						<label class="col-sm-2 control-label" for="field-1">图片</label>	
						<div class="col-sm-6">
							 <ul class="imgBox personBox" id="1">
				                     <if condition="$result['img'] neq '' ">
                                    <li class="img">
                                        <img src="<{$result.img}>" onclick="remove(this)" alt="">
                                    </li>
                                </if>
				                <li class="up">
				                    <span><i class="iconfont icon-plus-bold"></i></span>
				                        <input  type="file" name="img" class="file">
				                </li>
				            </ul>

						</div>
					</div>

					
					<input type="hidden" name="id" value="<{$result.id}>">
			


					<div class="form-group text-center">
						<button type="button"  class="btn submit btn-info btn-single pull-center ajax-post"  target-form="form-horizontal"><notempty name="result.id">修改<else/>添加</notempty></button>

					</div>
				</form>
			</div>
		</div>
	</div>
</div>
</block>
<block name="script">
<link rel="stylesheet" href="__PUBLIC__/js/uploadify/uploadify.css">
<script src="__PUBLIC__/js/uploadify/jquery.uploadify.min.js"></script>
<script src="__PUBLIC__/admin/js/daterangepicker/daterangepicker.js"></script>
<script src="__PUBLIC__/admin/js/datepicker/bootstrap-datepicker.js"></script>
<script type="text/javascript">
 //=======================================================
    var imgarr = [];
    $('.file').on('change',function(e){
       var inp = $(this);
       var up = $(e.currentTarget).parents('li');
        $("#mainForm").ajaxSubmit({
        url : "<{:U('index/ajaxUpload')}>", // 请求的url  
        type : "post", // 请求方式  
        dataType : "json", // 响应的数据类型  
        async :true, // 异步  
        success: function (data1) { 
            // alert(data1);
            // $('.uploadImg').empty();
           var ele = "\
            <li class='img'>\
                <img  onclick='remove(this)' src='"+data1+"'>\
            </li>";
            //$('.imgBox').before(ele);
            up.before(ele)
            $('#mainForm').find('input[name=image]').val(data1);
            imgarr.push(data1);
        },  
        error : function(){  
            alert("数据加载失败！"); 
        }  
         });     


    });
     
        $('#mainForm').submit(function(){
        
        $('.file').remove();
    });


       function remove(obj){
        var pid = $(obj).parents('.imgBox').attr('id');
        $(obj).parents('li').remove();
        console.log($('.imgBox[id='+pid+']').find('.img').length )
        if($('.imgBox[id='+pid+']').find('.img').length < 5){
            $('.imgBox[id='+pid+']').find('.up').show();
        }
    }


      $('.submit').click(function(){
   var img = $('.imgBox li:eq('+0+') img').attr('src');

	            $.ajax({
	                type:'POST',
	                url :"<{:U('Mutual/edit')}>",
	                data:$.param({img:img})+'&'+$('form').serialize(),
	                success:function(msg){
	                if(msg == 1){
	                       toastr.success('修改成功')
	                }else{
	                	 toastr.error('失败')
	                }

	            }
	        })
	    })
</script>
</block>