<extend name="Public:base" />
<block name='main'>

    <div class="publish">
        <header class="header">
            <span>发起救助</span>
        </header>
        <main class="main">
            <div class="banner">
                <img src="__HOME__/img/banner_02.gif" alt="">
            </div>
            <p class="step">轻松五步，快速筹款</p>
            <div class="cont">
                <p>
                    <i class="iconfont icon-faqi"></i>第一步：撰写文本
                </p>
                <span>3分钟完成填写，极致简单，发起成功后获1对1辅导资格</span>
            </div>
            <div class="cont">
                <p>
                    <i class="iconfont icon-pengyouquan"></i>第二步：发起筹款 
                </p>
                <span>3分钟完成填写，极致简单，发起成功后获1对1辅导资格</span>
            </div>
            <div class="cont">
                <p>
                    <i class="iconfont icon-qunfengzijintixian"></i>第三步：分享给权威人士证实信息真实性
                </p>
                <span>全程为您免费服务，100%资金安全</span>
            </div>
            <div class="cont">
                <p>
                    <i class="iconfont icon-qunfenggerenziliao"></i>第四步：后台审核，成功后开始筹款
                </p>
                <span>参与筹款的好友将获得健康服务2亿爱心人士共同帮助你</span>
            </div>
            <div class="cont">
                <p>
                    <i class="iconfont icon-chakan"></i>第五步：项目结束，提交使用资金单据，拿到款项。
                </p>
                <span>此栏目个人不可填写，需要转发给权威人士填写</span>
            </div>
            <p class="text">如有任何疑问，请联系客服010-8546794</p>
            <p class="btn">
                <span><a href="<{:U('release/choukuan')}> ">发起筹款</a></span>
            </p>
        </main>
</block>

